<h2 id="table">猫テーブル</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>名前</th>
            <th>特徴</th>
            <th>住所</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>太郎</td>
            <td>坊主</td>
            <td>東京都港区青山</td>
        </tr>
            <tr>
              <td>2</td>
              <td>なみ</td>
              <td>みつあみ</td>
              <td>東京都千代田区秋葉原駅周辺</td>
            </tr>
            <tr>
        <td>3</td>
              <td>だいき</td>
              <td>大きい</td>
              <td>兵庫県西宮市甲子園町</td>
            </tr>
            <tr>
              <td>4</td>
              <td>にゃあ</td>
              <td>トラの兄弟</td>
              <td>兵庫県西宮市甲子園町</td>
            </tr>
    </tbody>
</table>
